.postman/
postman/
instance/

# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
books.venv/

# Database
db.sqlite3

# Static folder at project root
/static/

# Windows
Thumnbs.db*
ehtumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace


.postman/
postman/
instance/